<div class="container">    
    <h1 class="section-title"><%= title %></h1>
    <hr>
    <section class="centered-content">
        
        <form action="/" method="post">
          <label for="name">
            Name:
            <input type="text" id="name" name="name" alt="Name" placeholder="Enter your name here" />
          </label>
  
          <label for="surname">
            Surname:
            <input type="text" id="surname" name="surname" alt="Surname" placeholder="Enter your surname here" />
          </label>
  
          <label for="Phone">
            Phone:
            <input type="text" id="phone" name="phone" alt="Phone" placeholder="Enter your phone number here" />
          </label>
  
          <label for="email">
            Email:
            <input type="text" id="email" name="email" alt="Email" placeholder="Enter your email here" />
          </label> 
       
          <div class="right-aligned">
            <button type="submit">Submit</button>
          </div>
        </form>
      </section>
</div>