
  <div class="card text-center">
    <div class="card-header">
      Developer
    </div>
    
    <div class="card-body">
      <h2 class="card-title fst-italic">Artem Rybintsev</h2>
      <p class="card-text"><h4>My main mission is gaining as much programming experience as possible and become a ful-time game developer. Gaming remained one of my main passions for a long time and now I want to create them myself!</h4></p>
      <a href="/about" class="btn btn-primary">About Me</a>
    </div>
    
  </div>
  <div class="text-center"><img src="/Assets/images/ARTEM RYBINTSEV.png"></div>
  