<div class="container">
    <h1 class="section-title"><%= title %></h1>
    <hr>

    <h2 class="fst-italic text-center">My name is Artem Rybintsev and I am at the third semester of Software Engineering Technician Program at Centennial College.</h2>

    <img src="/Assets/images/photo.jpg">
    <br><br>
    <h2 class="fst-italic text-center"></h2>
</div>